* {
    margin: 0; padding: 0;
}

body {
    height: 100%;
}

header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.column {
    margin: 7px;
}

.block-left {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
}